[submodule "CocoaLumberjack"]
	path = CocoaLumberjack
	url = git://github.com/robbiehanson/CocoaLumberjack.git
[submodule "MKNetworkKit"]
	path = MKNetworkKit
	url = git://github.com/MugunthKumar/MKNetworkKit.git
[submodule "NSLogger"]
	path = NSLogger
	url = git://github.com/fpillet/NSLogger.git
